/* GrantAccess.css */
body {
    font-family: Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
    background-color: #f5f9fc;
    color: #333;
  }
  
  .grant-access-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .grant-access-heading {
    font-size: 2em;
    text-align: center;
    color: #0073e6;
    margin-bottom: 20px;
  }
  
  .access-options {
    margin-bottom: 20px;
  }
  
  .access-options label {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .access-options input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .role-selection {
    margin-bottom: 20px;
  }
  
  .role-selection h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0073e6;
  }
  
  .role-selection label {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .role-selection input[type="radio"] {
    margin-right: 10px;
  }
  
  .email-input {
    margin-top: 20px;
  }
  
  .email-input h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0073e6;
  }
  
  .email-input input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  .email-input input:focus {
    border-color: #0073e6;
    outline: none;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    color: #fff;
    background-color: #0073e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    background-color: #005bb5;
  }