/* Dashboard.css */

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.heade {
  top: 0; 
  left: 0;
  width: 100%; 
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.heade h1 {
  margin: 0;
  color:black;
  font-size: x-large;
}

.heade .create-event {
  padding: 8px 16px;
  background-color: #042548; /* Adjust color as needed */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 40px;
}
.heade .create-event:hover{
  background-color:blue
}
.main-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-content {
  flex: 2;
}

.right-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.right-content > * {
  width: 100%;
}

.calendar-container {
  margin-bottom: 20px;
}