.pre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .charts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .pie-chart {
    margin-left: 20px;
  }
  .pre h1{
    color:black;
  }