.footer {
  background-color: #4a6572;
  color: white;
  padding: 20px 40px;
  margin-top: 2px;
  width: 96%;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-heading {
  color: #fdd835;
  margin-bottom: 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-icons .icon-link {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-icons .icon-link:hover {
  color: #fdd835;
}

.footer-acknowledgment {
  margin-top: 30px;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer-logo {
  width: 300px;
}
