.ancientpage {
    text-align: center;
    padding: 2rem;
    font-family: Arial, sans-serif;
    background-color: #e0a96d;
  }
  
  .ancientpage h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: black;
    text-align: center;
  }
  
  .ancientpage p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 2rem;

  }
  
  .ancientpage .features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    justify-items: center;
  }
  
  .ancientpage .feature-card {
    background: #2b2b2b;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .ancientpage.feature-card .icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .ancientpage .feature-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: aliceblue;
  }
  
  
  .ancientpage .feature-card p {
    font-size: 0.9rem;
    color: aliceblue;

  }
  
  .ancientpage .feature-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  .ancientpage .feature-card .image-container{
    height: 120px;
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .ancientpage .feature-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  .feature-link {
    text-decoration: none; 
    color: inherit; 
  }