/* 
  .container {
    max-width: 4000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    margin-top: 500px;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    color: #005f99;
  }
  
  p {
    line-height: 1.6;
    font-size: 16px;
  }
  
  ul {
    margin: 20px 0;
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .footer {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
  
  .footer h2 {
    font-size: 18px;
    color: #005f99;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 14px;
    color: #666;
  } */